<header
  class="flex items-center justify-between whitespace-nowrap border-b border-solid border-primary/20 bg-background-dark/95 backdrop-blur-sm sticky top-0 z-50 px-6 py-4 lg:px-12 font-display"
>
  <a routerLink="/home" class="flex items-center gap-4 text-white no-underline">
    <div class="size-8 text-primary">
      <span class="material-symbols-outlined text-4xl!">temple_hindu</span>
    </div>
    <h2 class="text-white text-xl font-bold leading-tight tracking-[-0.015em] hidden sm:block">
      Mayan Ipsum
    </h2>
  </a>

  <nav class="hidden md:flex items-center gap-9 flex-1 justify-center">
    <a
      routerLink="/home"
      routerLinkActive="text-primary!"
      class="text-white/80 hover:text-primary transition-colors text-sm font-medium"
    >
      Home
    </a>
    <a
      routerLink="/about-popol-vuh"
      routerLinkActive="text-primary!"
      class="text-white/80 hover:text-primary transition-colors text-sm font-medium"
    >
      About Popol Vuh
    </a>
    <a
      routerLink="/contact"
      routerLinkActive="text-primary!"
      class="text-white/80 hover:text-primary transition-colors text-sm font-medium"
    >
      Contact
    </a>
  </nav>

  <div class="flex justify-end gap-4">
    <button
      type="button"
      class="group flex items-center justify-center rounded-xl h-10 px-4 bg-primary hover:bg-primary/90 text-background-dark text-sm font-bold transition-all transform hover:-translate-y-0.5 shadow-lg shadow-primary/20 hover:shadow-[0_0_20px_rgba(17,212,98,0.5)]"
    >
      <span
        class="material-symbols-outlined mr-2 text-lg group-hover:rotate-180 transition-transform duration-500"
      >
        refresh
      </span>
      <span>Generate New</span>
    </button>
  </div>
</header>
